<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Vue App</title>
</head>
<body>
    <div id="app">{{message}}</div>
    <script>
        const App = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
            },
        })
    </script>
</body>

</html>
