<template>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <router-link class="nav-item nav-link active" to="/game">Home</router-link>
            <router-link class="nav-item nav-link active" to="/game/secure">Secure</router-link>
            <router-link class="nav-item nav-link active" to="/game/chat">Chat</router-link>
            <router-link class="nav-item nav-link" to="/game/about">About</router-link>
            <span v-if="isLoggedIn" class="nav-item nav-link"> <a @click="logout">Logout</a></span>
        </div>
    </div>
</nav>
</template>
<script>
export default {
    name: 'NavBar',
    computed : {
      isLoggedIn : function(){ return this.$store.state.login.logged}
    },
    methods: {
        logout: function() {
            this.$store.dispatch('logout')
                .then(() => {
                    this.$router.push('/login')
                })
        }
    },
};
</script>
