<template>
  <div>
     <NavBar></NavBar>
     <keep-alive>
    <router-view />
</keep-alive>
  </div>
</template>
<script>
    import NavBar from '@/components/NavBar.vue'
    import {mapGetters,mapMutations} from 'vuex'
    export default {
        components: {
            NavBar,
        },
        created() {
          //do something after creating vue instance
          this.$store.state.bus.$on('mensaje', (payload)=> {
              this.addMensaje(payload)
          })
          this.$store.state.bus.$on('info', (payload) =>{
              this.addInfo(payload)
          })
      },
      mounted(){
          if(!this.logged){
              this.$router.push("/")
          }
      },
      computed:{
        ...mapGetters(['logged']),
      },
      watch:{
          logged: function (val) {
              if(!val){
                 this.$router.push("/")
              }
          }
      },
      methods: {
          ...mapMutations(['addMensaje','addInfo'])
      },
      beforeDestroy() {
        //do something before destroying vue instance
        this.$store.state.bus.$off('mensaje')
        this.$store.state.bus.$off('info')
      }

};
</script>
