<template>
    <div>
        <form class="login" @submit.prevent="login" v-if="!logged">
            <h1>Sign in</h1>
            <label>Username</label>
            <input required v-model="username" type="text" placeholder="Username" />
            <label>Password</label>
            <input required v-model="password" type="password" placeholder="Password" />
            <hr />
            <button type="submit">Login</button>
            <button v-on:click="register">Register</button>
            <span v-if='respuesta !=="" '>R:{{respuesta}}</span>
        </form>
        <div v-if="logged">
            <h1>Ya se encuentra logeado</h1>
            <button v-on:click="enter">Entrar</button>
        </div>
    </div>
</template>

<script>
import {mapGetters} from 'vuex'
    export default {
        name: 'Login',
        data() {
            return {
                username: "",
                password: "",
            }
        },
        computed:{
            ...mapGetters(['respuesta','logged'])
        },
        mounted(){
            this.enter()
        },
        methods: {
            login: function() {
                let username = this.username
                let password = this.password
                this.$store.dispatch('login', {
                        username,
                        password
                })
                .then(() => {
                    this.enter()

                })
                .catch(err => console.log(err))
            },
            enter: function(){
                if(this.logged){
                    if(this.$route.query.redirect === undefined){
                        this.$router.push("/game")
                    }else{
                        this.$router.push(this.$route.query.redirect)
                    }

                }
            },

            register: function () {
                let username = this.username
                let password = this.password
                this.$store.dispatch('register',{username,password})
            }
        },

    }
</script>

<style scoped>
    #login {
        width: 500px;
        border: 1px solid #CCCCCC;
        background-color: #FFFFFF;
        margin: auto;
        margin-top: 200px;
        padding: 20px;
    }
</style>
