<template>
<div id="app">
    <header>
        <h1>Vue.js SPA</h1>
    </header>
    <main>
        <aside class="sidebar" >

            <router-link

                v-for="post in posts"
                v-bind:key="post.id"
                active-class="is-active"
                class="link"
                :to="{ name: 'post', params: { id:post.id } }">
                {{post.id}}. {{post.title}}
            </router-link>
        </aside>
        <div class="content ">
             <router-view v-if="posts !== null"></router-view>
        </div>
    </main>
</div>
</template>


<script>
import { mapState, mapActions } from 'vuex'
export default {
    data() {
        return {
            posts: null,
            endpoint: 'https://jsonplaceholder.typicode.com/posts/',
        }
    },
    computed:{
        ...mapState(['data'])
    },
    created() {
        console.log("creates")
        this.$store.dispatch('getData').then(() => {
            console.log(this.data)
            this.posts = this.data
            console.log("creates")
  // ...
        })

    },
    methods: {
        ...mapActions(['getData'])
    }
}
</script>

<style>
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}
</style>
