<template lang="html">
  <div class="post">
    <h1 class="post__title">{{post.title }}</h1>
    <p class="post__body">{{ post.body }}</p>
    <p class="post__id">{{ post.id }}</p>
  </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'
export default {
    props: ['id'],
    data() {
        return {
            post:null
        }
    },
    computed:{
        ...mapState(['data']),
    },

    methods: {
        ...mapActions(['getData']),
    },
    created() {
        //this.getData()
        this.post = this.data[this.id]

    },
    watch:{'$route'(){this.post = this.data[this.id];}}
}
</script>
