<template>
<div id="content">
    <div id="chatControls">
        <textarea id="message" placeholder="Type your message" v-model="input" v-on:keyup.enter="sendAndClear"></textarea>
        <button id="send"  v-on:click="sendAndClear">Send</button>

    </div>
    <ul id="userlist">
        <li v-for="info in chatInfo" :key="info.usuario">
            {{info.usuario}}[{{info.personaje}}] - {{info.lugar}}
        </li>
    </ul>
    <div id="chat">
        <article v-for="(chat,index) in chatMessages" :key="index">
            <b>{{chat.user}} dice:</b>
            <span class="timestamp">{{new Date(chat.timestamp.$date).toLocaleString()}}</span>
                <p>{{chat.mensaje}}</p>

        </article>
    </div>
</div>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
    data() {
        return {
            input:""
        }
    },
    methods: {
        sendAndClear() {
            let m = this.input.trim()
            let pack = {
                tipo: "",
                body: ""
            }
            if (m !== "") {
                if (m.charAt(0) === '!') {
                    let comm = m.substring(1).split(" ");
                    pack.tipo = comm[0];
                    pack.body = m;
                } else {
                    pack.tipo = "mensaje";
                    pack.body = m;
                }
                this.input = "";

                this.websocket.send(JSON.stringify(pack));
            }
        }
    },
    computed:{
        ...mapGetters(['websocket','chatInfo','chatMessages']),
    },
    beforeCreate() {

    }
}
</script>

<style scoped>
body {
    font: 14px monospace;
}

#content {
    max-width: 480px;
    margin: 0 auto;
    padding: 30px 20px;
    text-align: left;
}

textarea {
    width: 97%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    float: right;
}

li {
    margin: 5px 0;
}

#chatControls {
    overflow: auto;
}

#userlist {
    position: fixed;
    left: 50%;
    list-style: none;
    margin: 0 0 0 250px;
    background: #eee;
    padding: 5px 10px;
    width: 200px;
    top: 90px;
}

#chat p {
    margin: 5px 0;
    font-weight: 300;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#chat .timestamp {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
}

#chat article {
    background: #eee;
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid #aaa;
    position: relative;
}

#chat article:first-of-type {
    background: #c9edc3;
    border-left-color: #74a377;
    animation: enter .2s 1;
}

#chat article:first-of-type>#stats {
    background: #b6edad;
    border-left: 5px solid #3f9d4b;
}

#stats {
    background: #b8b8b8;
    padding: 5px 10px;
    margin: 10px 0;
    border-left: 5px solid #7d7a7a;
}

@keyframes enter {
    from {
        transform: none;
    }

    50% {
        transform: scale(1.05);
    }

    to {
        transform: none;
    }
}
</style>
