<template>
  <div class="container m-5 flui">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card px-3">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <div class="card-text">
                        <div v-if="personaje!==null">
                            <div class="row">
                                <span class="font-weight-bold">Nombre:</span> {{personaje.nombre}}
                            </div>
                            <div class="row">
                                <span class="font-weight-bold">Nivel:</span> {{personaje.data.nivel}}
                            </div>
                        </div>
                        <div v-if="personaje===null">
                            <h1>DEBES CREAR UN PERSONAJE</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card px-3">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <div class="card-text">
                        <div v-if="personaje!==null">
                            <div class="row">
                                <span class="font-weight-bold">Nombre:</span> {{personaje.nombre}}
                            </div>
                            <div class="row">
                                <span class="font-weight-bold">Nivel:</span> {{personaje.data.nivel}}
                            </div>
                        </div>
                        <div v-if="personaje===null">
                            <h1>DEBES CREAR UN PERSONAJE</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
    data() {
        return {
            personaje:null
        }
    },
    created() {
      //do something after mounting vue instance
      this.bus.$on('infoPersonaje', (payload)=> {
          this.personaje = payload
      })
      this.websocket.send(JSON.stringify({tipo:'info',body:''}))
    },
    computed:{
        ...mapGetters(['websocket','bus']),
    },
  beforeDestroy() {
    //do something before destroying vue instance
    this.bus.$off('infoPersonaje')
  }
}

</script>
