* {

}

body {
    font: 14px monospace;
}
#content {
    max-width: 480px;
    margin: 0 auto;
    padding: 30px 20px;
}

textarea {
    width: 97%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    float: right;
}

li {
    margin: 5px 0;
}

#chatControls {
    overflow: auto;
}

#userlist {
    position: fixed;
    left: 50%;
    list-style: none;
    margin: 0 0 0 250px;
    background: #eee;
    padding: 5px 10px;
    width: 200px;
    top: 30px;
}

#chat p {
    margin: 5px 0;
    font-weight: 300;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#chat .timestamp {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
}

#chat article {
    background: #eee;
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid #aaa;
    position: relative;
}

#chat article:first-of-type {
    background: #c9edc3;
    border-left-color: #74a377;
    animation: enter .2s 1;
}
#chat article:first-of-type > #stats{
    background: #b6edad;
    border-left: 5px solid #3f9d4b;
}
#stats {
    background: #b8b8b8;
    padding: 5px 10px;
    margin: 10px 0;
    border-left: 5px solid #7d7a7a;
}

@keyframes enter {
    from {
        transform: none;
    }

    50% {
        transform: scale(1.05);
    }

    to {
        transform: none;
    }
}
